<h2 mat-dialog-title class="summary-title">
  <mat-icon>fact_check</mat-icon>
  {{ 'summary.title' | translate }}
</h2>
<mat-dialog-content>
  <div class="section-container">
    <div *ngFor="let section of sections" class="section">
      <div class="section-title">{{ translateSection(section.title) }}</div>
      <div class="section-fields">
        <div *ngFor="let field of section.fields" class="field">
          <span class="field-label">{{ translateField(field.label) }}</span>
          <span class="field-value">{{ field.value }}</span>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{ 'common.cancel' | translate }}</button>
  <button mat-raised-button color="primary" (click)="onConfirm()">{{ 'common.confirm' | translate }}</button>
</mat-dialog-actions>
