<form [formGroup]="roomForm" (ngSubmit)="onSubmit()" class="form-container fade-in">
  <h2 class="form-title">{{ (editingId ? 'RESOURCE_FORM.EDIT_TITLE' : 'RESOURCE_FORM.CREATE_TITLE') | translate: { entity: 'RESOURCE_FORM.ENTITY.room' | translate } }}</h2>
  <mat-tab-group class="tab-group">
    <mat-tab label="Room Details">
      <div class="tab-content" formGroupName="roomDetails">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Capacity</mat-label>
          <input matInput formControlName="capacity" type="number"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="button-container">
    <button mat-raised-button color="primary" type="submit" class="submit-button" appAdminOnly>{{ (editingId ? 'RESOURCE_FORM.UPDATE' : 'RESOURCE_FORM.SAVE') | translate }}</button>
    <button mat-raised-button color="accent" type="button" class="clear-button" (click)="onClearForm()">Clear</button>
  </div>
</form>
