.mat-dialog-container {
    overflow: visible;
  }
  
  .group-dialog-content {
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
    padding: 20px;
  }
  
  .group-dialog-actions {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: sticky;
    bottom: 0;
    background: #fff;
  }
  
  .full-width {
    width: 100%;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .mat-dialog-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  