<mat-card class="student-card">
  <div class="student-card-content">
    <div class="student-avatar">
      <img *ngIf="profilePhotoUrl && !hasImageError; else avatarInitials" [src]="profilePhotoUrl"
        alt="Photo de profil" class="profile-photo" (error)="onImageError()">
      <ng-template #avatarInitials>
        <div class="initials-avatar" [style.background-color]="avatarColor">{{ getInitials() }}</div>
      </ng-template>
    </div>
    <div class="student-info">
      <h2>{{ profile.firstName }} {{ profile.lastName }}</h2>
      <p>{{ profile.email }}</p>
    </div>
    <div class="student-contact">
      <button mat-icon-button
              color="primary"
              (click)="openEmail($event)"
              matTooltip="Envoyer un email"
              [disabled]="!profile.email">
        <mat-icon>email</mat-icon>
      </button>
      <button mat-icon-button
              color="accent"
              (click)="openWhatsApp($event)"
              matTooltip="Ouvrir WhatsApp"
              [disabled]="!profile.phoneNumber">
        <mat-icon>phone</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
