<div class="dashboard-main">
  <app-reusable-card [title]="'dashboard.subscribeStudents' | translate" icon="school" color="green-card"></app-reusable-card>
  <app-reusable-card [title]="'dashboard.subscribeProfessors' | translate" icon="person_add" color="green-card"></app-reusable-card>
  <app-reusable-card [title]="'dashboard.subscribeGroups' | translate" icon="group_add" color="green-card"></app-reusable-card>
  <app-reusable-card [title]="'dashboard.subscribeAttendance' | translate" icon="school" color="green-card"></app-reusable-card>
  <app-reusable-card [title]="'dashboard.subscribeSession' | translate" icon="event_add" color="green-card"></app-reusable-card>
  <app-reusable-card [title]="'dashboard.subscribePayment' | translate" icon="payment_add" color="green-card"></app-reusable-card>
</div>
