.datatable{
    width: 100%;
    border: 2px solid #c2e9d4;
    overflow: auto;

    th{
        background-color: #f5f5f5;
        color: #000;
        font-weight: 600;
    }
}

.btn-group{
    display: flex;
    justify-content: space-between;
}

.mat-mdc-button-base{
    min-width: 100px;
    margin: 10px 20px 10px 0px;
    padding: 10px;
}