<div class="cards-page">
  <mat-toolbar class="view-toggle-toolbar">
    <button mat-button
            [class.active]="viewMode === 'card'"
            (click)="changeViewMode('card')">
      <mat-icon>view_comfy</mat-icon>
      Grid
    </button>
    <button mat-button
            [class.active]="viewMode === 'list'"
            (click)="changeViewMode('list')">
      <mat-icon>view_list</mat-icon>
      List
    </button>
  </mat-toolbar>

  <ng-container *ngIf="isLoading; else studentsContent">
    <div class="loading-container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>

  <ng-template #studentsContent>
    <ng-container *ngIf="filteredStudents.length > 0; else emptyState">
      <div class="cards-grid" *ngIf="viewMode === 'card'">
        <app-student-card *ngFor="let student of currentPageStudents"
                          [student]="student"
                          class="fade-in"></app-student-card>
      </div>

      <div class="list-view" *ngIf="viewMode === 'list'">
        <app-student-list-item *ngFor="let student of currentPageStudents"
                               [student]="student"
                               class="fade-in"></app-student-list-item>
      </div>
    </ng-container>
  </ng-template>

  <ng-template #emptyState>
    <div class="empty-state">
      <mat-icon class="empty-icon">person_off</mat-icon>
      <p>Aucun étudiant trouvé.</p>
    </div>
  </ng-template>

  <div class="paginator-container" *ngIf="!isLoading && filteredStudents.length > 0">
    <mat-paginator [length]="totalStudents"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="changePage($event)">
    </mat-paginator>
  </div>
</div>
