<div class="page-header">
  <app-list-header [count]="totalTeachers" [entityName]="'teachers'" [filterLabel]="'Show with groups only'"
    (filterChange)="onHasGroupsFilterChange($event)">
  </app-list-header>

  <app-view-toggle [viewMode]="viewMode" (viewModeChange)="changeViewMode($event)">
  </app-view-toggle>
</div>

<ng-container *ngIf="!isLoading && filteredTeachers.length > 0; else loadingOrEmptyState">
  <div class="cards-section">
    <div class="teacher-view" [ngClass]="viewMode === 'card' ? 'cards-grid' : 'list-view'">
      <ng-container *ngIf="viewMode === 'card'">
        <app-teacher-card *ngFor="let teacher of currentPageTeachers" [teacher]="teacher"
          class="fade-in"></app-teacher-card>
      </ng-container>
      <ng-container *ngIf="viewMode === 'list'">
        <app-teacher-list *ngFor="let teacher of currentPageTeachers" [teacher]="teacher"
          class="fade-in"></app-teacher-list>
      </ng-container>
    </div>

    <div class="paginator-wrapper">
      <mat-paginator [length]="totalTeachers" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="changePage($event)">
      </mat-paginator>
    </div>
  </div>
</ng-container>

<ng-template #loadingOrEmptyState">
  <div *ngIf="isLoading" class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading && filteredTeachers.length === 0" class="empty-state">
    <mat-icon class="empty-icon">person_off</mat-icon>
    <p>Aucun enseignant trouvé.</p>
  </div>
</ng-template>