.all-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-navigation {
  height: 64px;
  flex: none;
}

.main-container {
  display: flex;
  flex: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sidenav-container {
  display: flex;
  flex: 1;
  height: calc(100vh - 64px);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sidenav {
  width: 250px;
  background: linear-gradient(109.6deg, rgb(148, 233, 194) 11.2%, rgb(224, 235, 186) 91.1%);
  color: black;
  margin: 0;
  padding: 0;
}

.mat-list-item {
  color: black;
}

.content-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding: 0;
  background: linear-gradient(109.6deg, rgb(148, 233, 194) 11.2%, rgb(224, 235, 186) 91.1%);
  margin: 0;
  align-items: stretch;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: stretch;
}

app-shared-layout-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

/* Specific form-container adjustments */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  flex-grow: 1; /* Ensure it takes up all available space */
  overflow-y: auto; /* Enable vertical scrolling */
}

.button-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  background-color: white;
}


// Media queries for responsive design
@media (max-width: 1500px) {
  mat-sidenav-container{
   // zoom:0.96;
  }


  app-shared-layout-container {
    zoom: 0.85;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
  }
}
