<div class="app-layout">
  <app-navigation class="app-navigation" (sidenavToggle)="toggleSidenav()"></app-navigation>

  <div class="app-body">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpen" class="sidenav">
        <app-side-menu></app-side-menu>
      </mat-sidenav>

      <mat-sidenav-content class="content-area">
        <div class="app-main-container">
          <app-shared-layout-container></app-shared-layout-container>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
