.shared-layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  flex-grow: 1;
  box-sizing: border-box;
  min-height: 100%;
}
