// Exemple de contenu pour _mixins.scss
@mixin box-shadow($x: 0, $y: 2px, $blur: 4px, $color: rgba(0, 0, 0, 0.1)) {
    box-shadow: $x $y $blur $color;
  }
  
  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

 // _mixins.scss
@mixin font-base($fonts...) {
  font-family: $fonts;
}

