// Exemple de contenu pour _variables.scss
$primary-color: #4460f7;
$secondary-color: #f0f0f0;
$error-color: #ff3860;
$font-stack: 'Helvetica Neue', sans-serif;
$border-radius: 4px;
$padding: 1rem;
// Plus de variables...
