<mat-nav-list class="sidenav">
  <div class="sidenav-brand">
    <mat-icon>auto_stories</mat-icon>
    <div class="brand-text">
      <span class="brand-title">{{ 'sideMenu.title' | translate }}</span>
      <span class="brand-subtitle">{{ 'sideMenu.subtitle' | translate }}</span>
    </div>
  </div>

  <mat-accordion multi="false" class="custom-accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="nav-panel-title">
          <mat-icon class="nav-panel-icon">school</mat-icon>
          <span>{{ 'sideMenu.enrollment.title' | translate }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <button mat-list-item class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/subscription']">
          <mat-icon class="item-icon">school</mat-icon>
          <span class="item-text">{{ 'sideMenu.enrollment.students' | translate }}</span>
        </button>
        <button mat-list-item class="nav-item" routerLinkActive="active-link" [routerLink]="['/teacher/new']">
          <mat-icon class="item-icon">workspace_premium</mat-icon>
          <span class="item-text">{{ 'sideMenu.enrollment.teachers' | translate }}</span>
        </button>
        <button mat-list-item class="nav-item" routerLinkActive="active-link" [routerLink]="['/group/new']">
          <mat-icon class="item-icon">groups_3</mat-icon>
          <span class="item-text">{{ 'sideMenu.enrollment.groups' | translate }}</span>
        </button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="nav-panel-title">
          <mat-icon class="nav-panel-icon">attach_money</mat-icon>
          <span>{{ 'sideMenu.finance.title' | translate }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <button mat-list-item class="nav-item" routerLinkActive="active-link" [routerLink]="['/admin/payment-management']">
          <mat-icon class="item-icon">payments</mat-icon>
          <span class="item-text">{{ 'sideMenu.finance.payments' | translate }}</span>
        </button>
        <button mat-list-item class="nav-item">
          <mat-icon class="item-icon">receipt_long</mat-icon>
          <span class="item-text">{{ 'sideMenu.finance.fees' | translate }}</span>
        </button>
        <button mat-list-item class="nav-item" routerLinkActive="active-link" [routerLink]="['/discounts']">
          <mat-icon class="item-icon">local_offer</mat-icon>
          <span class="item-text">{{ 'sideMenu.finance.discounts' | translate }}</span>
        </button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="nav-panel-title">
          <mat-icon class="nav-panel-icon">book</mat-icon>
          <span>{{ 'sideMenu.academics.title' | translate }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <button mat-list-item class="nav-item">
          <mat-icon class="item-icon">task_alt</mat-icon>
          <span class="item-text">{{ 'sideMenu.academics.attendance' | translate }}</span>
        </button>
        <button mat-list-item class="nav-item" routerLinkActive="active-link" [routerLink]="['/session/new']">
          <mat-icon class="item-icon">schedule</mat-icon>
          <span class="item-text">{{ 'sideMenu.academics.sessions' | translate }}</span>
        </button>
        <button mat-list-item class="nav-item" routerLinkActive="active-link" [routerLink]="['/calendar/new']">
          <mat-icon class="item-icon">event</mat-icon>
          <span class="item-text">{{ 'sideMenu.academics.calendar' | translate }}</span>
        </button>
        <button mat-list-item class="nav-item" routerLinkActive="active-link" [routerLink]="['/serie/new']">
          <mat-icon class="item-icon">collections_bookmark</mat-icon>
          <span class="item-text">{{ 'sideMenu.academics.series' | translate }}</span>
        </button>
        <button mat-list-item class="nav-item" routerLinkActive="active-link" [routerLink]="['/catch-ups']">
          <mat-icon class="item-icon">history_edu</mat-icon>
          <span class="item-text">{{ 'sideMenu.academics.catchUps' | translate }}</span>
        </button>
        <button mat-list-item class="nav-item" routerLinkActive="active-link" [routerLink]="['/transfers']">
          <mat-icon class="item-icon">swap_horiz</mat-icon>
          <span class="item-text">{{ 'sideMenu.academics.transfers' | translate }}</span>
        </button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="nav-panel-title">
          <mat-icon class="nav-panel-icon">library_books</mat-icon>
          <span>{{ 'sideMenu.resources.title' | translate }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <button mat-list-item class="nav-item" routerLinkActive="active-link" [routerLink]="['/level/table']">
          <mat-icon class="item-icon">stairs</mat-icon>
          <span class="item-text">{{ 'sideMenu.resources.levels' | translate }}</span>
        </button>
        <button mat-list-item class="nav-item" routerLinkActive="active-link" [routerLink]="['/room/table']">
          <mat-icon class="item-icon">meeting_room</mat-icon>
          <span class="item-text">{{ 'sideMenu.resources.rooms' | translate }}</span>
        </button>
        <button mat-list-item class="nav-item" routerLinkActive="active-link" [routerLink]="['/subject/table']">
          <mat-icon class="item-icon">menu_book</mat-icon>
          <span class="item-text">{{ 'sideMenu.resources.subjects' | translate }}</span>
        </button>
        <button mat-list-item class="nav-item" routerLinkActive="active-link" [routerLink]="['groupType/table']">
          <mat-icon class="item-icon">category</mat-icon>
          <span class="item-text">{{ 'sideMenu.resources.groupTypes' | translate }}</span>
        </button>
        <button mat-list-item class="nav-item" routerLinkActive="active-link" [routerLink]="['/pricing/table']">
          <mat-icon class="item-icon">price_change</mat-icon>
          <span class="item-text">{{ 'sideMenu.resources.pricing' | translate }}</span>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>
